# Assignment -1
1. install Jupyter notebook.

Solution: Attached is the evidence.

 # Q 2 - Write a program to find numbers between 2000 and 3200 which are divisble by 7 but not 5

In [35]:
# Q 2 - Write a program to find numbers between 2000 and 3200 which are divisble by 7 but not 5
   
x=[]
for i in range(2000,3201):
    if (i%7==0) and (i%5>0):
        x.append(i)
print(*x,sep = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [42]:
#Q3 Python program to accept first name and last name and write in reverse order

x=input("Please enter your first name ")
y=input("Please enter your last name ")
print (y+','+x)

Please enter your first name Anuraag
Please enter your last name Bharti
Bharti,Anuraag

In [41]:
#Q4 Volume of sphere 
from math import pi
v=(4/3)*pi*(6)**3
v

904.7786842338603

In [18]:
#task 2- 1
# Write a Python program which accepts a sequence of comma-separated numbers from console and generate a list
x = input("Please enter commma seperate values : ")
y=[]
y=x.split(",")
print(y)
for i in range(0,len(y)):
    y[i]=int(y[i])
print(y)

Please enter commma seperate values : 2,3,4
['2', '3', '4']
[2, 3, 4]

In [20]:
#task2 - 2
#Create a pattern 
for i in range(0,9):
    if(i <= 4):
        for j in range(0,i+1):
            print("*", end=" ")
        print("\n")
    else:
        for j in range(i,9):
            print("*", end=" ")
        print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [2]:
#task2 - reverse the word
strname = input("Enter the name: ")
strname[::-1]

Enter the name: Anuraag

'gaarunA'

In [5]:
#Task2 
string = "WE, THE PEOPLE OF INDIA,{}having solemnly resolved to constitute India into a SOVEREIGN,{}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{}and to secure to all its citizens{}"
print(string.format('\n\t','!\n\t\t','\n\t\t',''))

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens